[Unit]
Description=Nagios configuration Manager Web Deamon
Documentation=https://github.com/MauroMaia/nagios-conf-manager
After=syslog.target network.target

[Service]
User=##USER##
Group=##USER##
Type=simple
WorkingDirectory=/var/lib/nagios-conf-manager
ExecStart=/var/lib/nagios-conf-manager/bin/ncf-linux web
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target