<mat-card style="padding: 2rem">

  <h4 style="width: 100%;text-align: center">Add New Host</h4>

  <div class="form-container">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Check Name">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Host name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-select placeholder="Select Check Period">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Address">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Host Notification Interval">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Contacts">
      <mat-slide-toggle>Slide me!</mat-slide-toggle>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Contact Groups">
      <mat-slide-toggle>Slide me!</mat-slide-toggle>
    </mat-form-field>

    <button mat-button>Add</button>
  </div>
</mat-card>
