<mat-card style="padding: 2rem">

  <h4 style="width: 100%;text-align: center">Add New TimePeriod</h4>

  <div class="form-container">

    <mat-form-field class="example-full-width">
      <input type="text" matInput
             placeholder="Time Period Name"
             [formControl]="tpName" required>
      <mat-error
        *ngIf="this.tpName.invalid && this.tpName.hasError('required')">{{errorsStrings.name.required}}</mat-error>
      <mat-error
        *ngIf="this.tpName.invalid && this.tpName.hasError('pattern')">{{errorsStrings.name.pattern}}</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="text" matInput
             placeholder="Time Period Small Description"
             [formControl]="tpDescription" required>
      <mat-error
        *ngIf="this.tpDescription.invalid && this.tpDescription.hasError('required')">{{errorsStrings.description.required}}</mat-error>
      <mat-error
        *ngIf="this.tpDescription.invalid && this.tpDescription.hasError('pattern')">{{errorsStrings.description.pattern}}</mat-error>
    </mat-form-field>

    <app-time-period-day-ui (disableChange)="this.disableStatus.monday"
                            [disable]="this.disableStatusOb.monday "
                            [placeholder]="'Monday2'"
    ></app-time-period-day-ui>

    <app-time-period-day-ui (disableChange)="this.disableStatus.tuesday"
                            [disable]="this.disableStatusOb.tuesday "
                            [placeholder]="'Tuesday'"
    ></app-time-period-day-ui>

    <app-time-period-day-ui (disableChange)="this.disableStatus.wednesday"
                            [disable]="this.disableStatusOb.wednesday "
                            [placeholder]="'Wednesday'"
    ></app-time-period-day-ui>

    <app-time-period-day-ui (disableChange)="this.disableStatus.thursday"
                            [disable]="this.disableStatusOb.thursday "
                            [placeholder]="'Thursday'"
    ></app-time-period-day-ui>

    <app-time-period-day-ui (disableChange)="this.disableStatus.friday"
                            [disable]="this.disableStatusOb.friday "
                            [placeholder]="'Friday'"
    ></app-time-period-day-ui>

    <app-time-period-day-ui (disableChange)="this.disableStatus.saturday"
                            [disable]="this.disableStatusOb.saturday "
                            [placeholder]="'Saturday'"
    ></app-time-period-day-ui>

    <app-time-period-day-ui (disableChange)="this.disableStatus.sunday"
                            [disable]="this.disableStatusOb.sunday "
                            [placeholder]="'Sunday'"
    ></app-time-period-day-ui>

    <button mat-button>Add</button>
  </div>
</mat-card>
